.probe/*
!.probe/probe-settings.json

.mejs/*
.mixin.out/*
.vscode/*
crash-reports/*
local/*
logs/*
modernfix/*
oeb/*
oei/*
saves/*

kubejs/config/*
kubejs/technology/*
kubejs/warp/*
kubejs/jsconfig.json
kubejs/*/jsconfig.json
